<div class="nav">
  <ul>
    <li id="add-user"><%= link_to "Add User", "#" if admin? %></li>
    <li id="remove-user"><%= link_to "Remove User", "#" if admin? %></li>
    <li class="field_workers"><%= link_to "All", "#" %></li>
    <li class="field_workers"><%= link_to "Photographers", "#" %></li>
    <li class="field_workers"><%= link_to "Appraisers", "#" %></li>
    <li class="datepicker">Date <input type="text" id="datepicker"></li>
    <li id="demo"></li>
    <li class="arrow"><%= link_to "Previous", "#" %></li>
    <li class="arrow"><%= link_to "Next", "#" %></li>
  </ul>
</div>

<div class="new-trelorians"></div>

<div id="user-menu" class="hidden" >
  <%= render partial: "dashboard/user_create" %>
</div>
<div id="remove-user-menu" class="hidden" >
  <%= render partial: "dashboard/remove_user" %>
</div>

<div id="map" class="map-width-100"></div>
<div id="addressBar">
  <input id="pac-input" class="controls" type="text" placeholder="Address" >
</div>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_API_KEY"] %>&libraries=places&callback=initAutocomplete&callback=initMap">
</script>

</div>
